.card {
    height: 100%; /* Asegura que todas las tarjetas tengan la misma altura */
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-container {
    padding: 10px; /* Espaciado alrededor de cada tarjeta */
}